@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  height: 40vh;
}

* {
  font-family: Roboto;
}

#navbar {
  border-bottom: solid blueviolet 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0%;
  background-color: blueviolet;
  opacity: 0.9;
  z-index: 9;
  /* top: -90px;    new change */
  transition: top 0.3s; /* new change */
  animation-name: navbarOpacity;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes navbarOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

#logo {
  margin-left: 50px;
}

#nav-shape {
  display: flex;
  justify-content: space-between;
}

#nav-items {
  display: flex;
}

#nav-items > li {
  list-style-type: none;
  padding: 15px;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}

#nav-items > li a:hover {
  /* new change */
  background-color: rgba(105, 105, 105, 0.3);
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.homepage {
  text-decoration: none;
  color: black;
}

.about-us {
  text-decoration: none;
  color: white;
}

.rooms {
  text-decoration: none;
  color: black;
}

.area-attractions {
  text-decoration: none;
  color: black;
}
.contacts {
  text-decoration: none;
  color: black;
}

#reserve {
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

#about-us-homepage {
  height: 180vh;
  top: 0%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  background-image: url(/Images/photo\ of\ tobago\ beach.jpg);
}

#about-us-border {
  border: solid black 5px;
  margin-top: 8%;
  height: 150vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: whitesmoke;
}

#home-header {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 60px;
  margin-top: 4%;
  color: blueviolet;
  opacity: 0.9;
  animation-name: headerOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes headerOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.container {
  display: flex;
}
.images {
}

.img {
  height: 450px;
  width: 650px;
  display: block;
  margin: 20px;
  border: solid 4px;
  border-radius: 15px;
}

.text {
  width: 450px;
}

#aboutpar1 {
  font-size: 18px;
}
#aboutpar2 {
  font-size: 18px;
}

#footer-contact-info {
  height: 40vh;
  background-color: black;
  color: white;
  margin-top: 180vh;
}

.bottom-border {
  display: flex;
  list-style-type: none;
  font-weight: 500;
}

#bottom-logo {
  margin-top: 10%;
  margin-left: 10%;
}

.footer-slogan {
  font-weight: 300;
  font-size: 16px;
  margin-left: 8px;
}

#ammenities {
  margin-left: auto;
  margin-top: 3%;
}

#social-media {
  margin-right: 40px;
  margin-top: 3%;
}

#ammenities > ul > li {
  font-weight: 400;
  padding: 10px;
  list-style-type: none;
}

#social-media > ul > li {
  font-weight: 400;
  padding: 10px;
  list-style-type: none;
}

.contact > li {
  font-weight: 400;
  padding: 10px;
  list-style-type: none;
}

.copyright {
  text-align: center;
}
